
.triangle {
   margin-left: 450px;
   margin-bottom: 10px;
   width: 120px;
   height: 80px;
   background: yellow;
   position: relative;
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
   border-radius:10px;
  
}
.triangle:before {
   content:"";
   position: absolute;
   right: 100%;
   top: 26px;
   width: 0;
   height: 0;
   border-top: 13px solid transparent;
   border-right: 26px solid yellow;
   border-bottom: 13px solid transparent;
}