<div class="circular-image">
    <p>Circular image</p>
    <a href="#loginScreen"><img src="Modules/About-us/images/1.jpg"></a>
    <div class="flp">
        <p>Adurru (or locally Dubaraju Dibba) is a 2,400-year old Buddhist site located on the western bank of the Vainetaya, a tributary of river Godavari, which is around 9.5 km from the Bay of Bengal in Mamidikuduru mandal of East Godavari district.</p>
    </div>
</div>
<div id="loginScreen">
    <a href="#" class="cancel">&times;</a>
    <a href="#"><img src="Modules/About-us/images/1.jpg" class="img"></a>
</div>
<div id="cover"> </div>
