
<div class="flp">
<p>Adurru (or locally Dubaraju Dibba) is a 2,400-year old Buddhist site located on the western bank of the Vainetaya, a tributary of river Godavari, which is around 9.5 km from the Bay of Bengal in Mamidikuduru mandal of East Godavari district.The site was excavated by the Archaeological Survey of India (ASI) in 1923 and declared as a protected monument in 1955.</p><p> Among the three most popular Buddhist stupas in the world, the first one was constructed in Adurru, the second in Ranchi and last one in Sarnath. According to historical evidence the ASI found, the foundation stone for Adurru was laid by Sanghamithra, a Buddhist nun and daughter of King Ashoka, en route to Sri Lanka.</p>

</div>


