

    <div class="face">
        <div class="hover">
            <div class="left-eye">
                <div class="left-circle"></div>
            </div>
            <div class="appear">
                <div class="arrow-down" margin-left:1px>
                </div>
                this is left eye
            </div>
        </div>
        <div class="hover" style="float:right">
            <div class="right-eye">
                <div class="right-circle">
                </div>
            </div>
            <div class="appear">
                <div class="arrow-down" margin-left:1px>
                </div>
                this is right eye
            </div>
        </div>
        <div class="hover">
            <div class="left-nose"></div>
            <div class="appear">
                <div class="arrow-down" margin-left:1px>
                </div>
                this is left nose
            </div>
        </div>
        <div class="hover" style="float:right">
            <div class="right-nose"></div>
            <div class="appear">
                <div class="arrow-down" margin-left:1px>
                </div>
                this is right nose
            </div>
        </div>
        <div class="hover">
            <svg width="400" height="450">
                <path d="M 150 80 Q 250 200 350 80 " stroke="black" stroke-width="4" fill="none"></path>
            </svg>
            <div class="appear">
                <div class="arrow-down" margin-left:1px>
                </div>
                this is smile
            </div>
        </div>
    </div>

